body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 500px;
    margin: 50px auto; /* Centra la caja horizontalmente */
    text-align: center; /* Esto centra los H2 y los Labels */
}

h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

/* Hace que las etiquetas e inputs ocupen su propia línea y se centren */
label {
    display: block;
    margin-bottom: 5px;
    color: #666;
    font-size: 18px;
}

input[type="text"],
input[type="number"],
input[type="password"]{
    display: block;
    width: 100%;          /* Un poco más angosto para que se vea ordenado */
    margin-bottom: 2px ; /* Centra el CUADRO dentro de la caja */
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* IMPORTANTE: evita que el ancho se pase del borde */
}


.btn-primary {
    background-color: blue; /* Azul simple */
    color: white;           /* Letras blancas */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}
.btn-ejercicio1, .btn-ejercicio2 {
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 200px;
    height: 200px;
    line-height: 200px;
    margin: 10px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}

.btn-ejercicio1 { background-color: #800080; } /* Morado */
.btn-ejercicio2 { background-color: #8CC63F; } /* Verde Lima */

